<%= render 'shared/navbar' %>
<% @categories.each do |category| %>
<%= link_to category_path(category) do %>
<%= category.name %>
<% end %>
<% end %>

<h1> Index articles</h1>

<% @articles.last(1).each do |article|  %>
<%= link_to article_path(article) do %>
<%= article.title %>
<% end %>
<% end %>

<h1> sexundareio</h1>


<% @articles.last(3).reverse.drop(1).each do |article| %>
  <h3><%= article.title %></h3>
<% end %>
 <h3>si senores</h3>

<% @articles.last(10).reverse.drop(3).each do |article|  %>
    <h4><%= article.title %></h4>
    <% end %>
