<%= render 'shared/navbar' %>
<% if user_signed_in? %>
<%= link_to "edit", edit_article_path(@article)  %>
<%end%>
<div class="article-container">
  <h2><%= @article.category.name %></h2>
  <h1><%= @article.title %></h1>
  <h3><%= @article.subtitle %></h3>
  <img src="<%= @article.photo1 %> " alt="">
  <p><%= @article.content_1 %></p>
  <img src="<%= @article.photo2 %> " alt="">
  <p><%= @article.content_2 %></p>
  <img src="<%= @article.photo3 %> " alt="">
  <p><%= @article.content_3 %> </p>
</div>
<h3>ultimas noticias</h3>
<div class="articles-index">
  <% @articles.last(3).each do |article|  %>
  <%= render 'shared/articles_cards', article: article %>
  <% end %>
</div>
<h3>tambien</h3>
<div class="articles-index">
  <% @articles.sample(3).each do |article|  %>
  <%= render 'shared/articles_cards', article: article %>
  <% end %>
</div>
<div class="articles-footer">
  <ul class="list-group">
    <li class="list-group-item"><%= image_tag "https://res.cloudinary.com/dw7ox75dg/image/upload/v1559327622/Captura_de_Pantalla_2019-05-31_a_la_s_15.33.10.png" %></li>
    <% @categories.each do |category| %>
    <li class="list-group-item"><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
</div>




