<div class="footer-login-container">
 <h3 style="font-size: 16px;">
  © 2019 The New York Times Company
 </h3>
 <%= link_to "create article", new_article_path  %>
 <%= link_to "About", root_path %>
 <%= link_to "Help Center", root_path %>
 <%= link_to "Blog", root_path %>
 <%= link_to "Status", root_path %>
 <%= link_to "Jobs", root_path %>
 <%= link_to "Terms", root_path %>
 <%= link_to "Privacy Policy", root_path %>
 <%= link_to "Cookies", root_path %>
 <%= link_to "Ads info", root_path %>
 <%= link_to "Brand", root_path %>
 <%= link_to "Apps", root_path %>
 <%= link_to "Advertise", root_path %>
 <%= link_to "Marketing", root_path %>
 <%= link_to "Businesses", root_path %>
 <%= link_to "Developers", root_path %>
 <%= link_to "Directory", root_path %>
 <%= link_to "Settings", root_path %>

</div>
